In [3]:
# Initialize Otter
import otter
grader = otter.Notebook("TablePractice.ipynb")

In [4]:
import pandas as pd
import numpy as np

# 1. Citi Bike Dataset üóΩ

Citibike is a well-known bike sharing/renting system in New York City. It is privately owned by Lyft and operates in the boroughs of the Bronx, Brooklyn, Manhattan, Queens, Jersey City New Jersey, and Hoboken New Jersey. The system was proposed in 2008 but officially started in 2013 with 332 stations and 6,000 bikes. As of today, there are 17,000 bikes with approximately 50,000 rides on average daily.

### Question 1.1

Write a python code to read the file **citibike-trips.csv** located under the data directory. Store your answer in the variable `citibike`.

Hint: Use `read_csv()` method

In [5]:
citibike = pd.read_csv("data/citibike-trips.csv")
citibike.head()

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender,customer_plan
0,2319,2016-03-09 13:08:21,2016-03-09 13:47:01,520,W 52 St & 5 Ave,40.759923,-73.976485,363,West Thames St,40.708347,-74.017134,23062,Subscriber,1972.0,male,NaN
1,313,2015-07-09 15:42:30,2015-07-09 15:47:44,520,W 52 St & 5 Ave,40.759923,-73.976485,493,W 45 St & 6 Ave,40.756800,-73.982912,16909,Subscriber,1968.0,female,NaN
2,798,2017-04-20 18:43:59,2017-04-20 18:57:17,520,W 52 St & 5 Ave,40.759923,-73.976485,3258,W 27 St & 10 Ave,40.750182,-74.002184,15555,Subscriber,1991.0,male,NaN
3,3100,2017-04-23 15:23:46,2017-04-23 16:15:26,520,W 52 St & 5 Ave,40.759923,-73.976485,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,20648,Customer,NaN,unknown,NaN
4,906,2016-01-11 18:32:33,2016-01-11 18:47:39,520,W 52 St & 5 Ave,40.759923,-73.976485,3162,W 78 St & Broadway,40.783400,-73.980931,15614,Subscriber,1961.0,male,NaN

In [6]:
grader.check("q1.1")

q1.1 results: All test cases passed!

### Question 1.2

Select the columns `tripduration`, `start_station_name` and `end_station_name` from the citibike dataframe. Store your answer in the updated dataframe `citibike`.

In [7]:
citibike = citibike.loc[: , ['tripduration', 'start_station_name', 'end_station_name']]
citibike.head()

   tripduration start_station_name                   end_station_name
0          2319    W 52 St & 5 Ave                     West Thames St
1           313    W 52 St & 5 Ave                    W 45 St & 6 Ave
2           798    W 52 St & 5 Ave                   W 27 St & 10 Ave
3          3100    W 52 St & 5 Ave  Grand Army Plaza & Central Park S
4           906    W 52 St & 5 Ave                 W 78 St & Broadway

In [8]:
grader.check("q1.2")

q1.2 results: All test cases passed!

### Question 1.3

Find the average duration of a trip that lasted more than 30 minutes. Store your answer in the variable `above_30_mins` rounded upto two decimal points.

In [15]:
above_30_mins_df = citibike.query('tripduration > 1800')
above_30_mins = np.mean(above_30_mins_df.loc[:, 'tripduration'])
above_30_mins = round(above_30_mins, 2)
above_30_mins

np.float64(4117.84)

In [17]:
mask = citibike['tripduration'] > 1800
above_30_mins_df = citibike[mask]
above_30_mins = np.mean(above_30_mins_df.loc[:, 'tripduration'])
above_30_mins = round(above_30_mins, 2)
above_30_mins

np.float64(4117.84)

In [16]:
grader.check("q1.3")

q1.3 results: All test cases passed!

### Question 1.4

Find the number of trips that started at the **W 78 St & Broadway** station. Store your answer in the variable `num_trips`.

In [19]:
trips = citibike.query('start_station_name == "W 78 St & Broadway"')
num_trips = trips.shape[0]
num_trips

362

In [21]:
mask = citibike['start_station_name'] == "W 78 St & Broadway"
trips = citibike[mask]
num_trips = trips.shape[0]
num_trips

362

In [20]:
grader.check("q1.4")

q1.4 results: All test cases passed!

### Question 1.5

Find the station name where the most trips ended (Assume there are no ties). Store your answer in the variable `crowded_station` of type `str`.

In [30]:
count_trips = citibike.loc[: , ['tripduration', 'end_station_name']].groupby('end_station_name', as_index=False).count()
sorted_count_trips = count_trips.sort_values('tripduration', ascending=False)
first_row = sorted_count_trips.iloc[0]
crowded_station = first_row.loc['end_station_name'] # sorted_count_trips.iloc[0, 0]
crowded_station

'E 17 St & Broadway'

In [ ]:
grader.check("q1.5")

### Question 1.6

Find the number of trips for which the trip duration ending at the `crowded_station` was at least 500 seconds. Store your answer in the variable `num_trips`.

In [32]:
# Step 1: Filter the rows where a trip ended at the crowded_station
mask1 = citibike['end_station_name'] == crowded_station
crowded_station_df = citibike[mask1]

# Step2: Filter the rows from Step1, where a trip duration is atleast 500 seconds
mask2 = citibike['tripduration'] >= 500
crowded_station_df = crowded_station_df[mask2]

# Step 3: Find the number of rows in the final dataframe
num_trips = crowded_station_df.shape[0]
num_trips

/tmp/ipykernel_430941/319832472.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  crowded_station_df = crowded_station_df[mask2]

2351

In [34]:
crowded_station_df = citibike.query('end_station_name == @crowded_station') # Step 1
crowded_station_df = crowded_station_df.query('tripduration > 500') # Step 2
num_trips = crowded_station_df.shape[0] # Step 3
num_trips

2344

In [33]:
grader.check("q1.6")

q1.6 results: All test cases passed!

### Question 1.7

Find the number of stations for which the average duration ending at that station was at least 2000 seconds. Store your answer in the variable `num_stations`.

In [ ]:
num_stations = ...
num_stations

In [ ]:
grader.check("q1.7")

# 2. SFA Basketball

The **sfa** table describes the `name` (string), `position` (string), `class` (string), and `height` (int) of SFA basketball
players in the 2024-125 season. Please note, this is just a synthetic data.

In [ ]:
sfa = pd.read_csv('data/sfa_basketball.csv')
sfa.head()

### Question 2.1

Find the proportion of all players whose position is **Forward**. Store you answer in variable `fwd_prop` rounded upto two decimal points.

In [ ]:
fwd_prop = ...
fwd_prop

In [ ]:
grader.check("q2.1")

### Question 2.2

Find the name of the shortest **freshman**. Assume that one is shorter than the rest. Store your answer in the variable `shortest` of type `str`

In [ ]:
shortest = ...
shortest

In [ ]:
grader.check("q2.2")

### Question 2.3

Find whether there are at least 3/4 of players that are atleast 80 inches taller. The result should be True or False and stored in the variable `percentile_75th`.

In [ ]:
percentile_75th = ...
percentile_75th

In [ ]:
grader.check("q2.3")

### Question 2.4

Find a pandas series of all positions, sorted in increasing order of the average height for all players in that position. Store your answer in variable `sorted_pos` of type `pandas.Series`

In [ ]:
sorted_pos = ...
sorted_pos

In [ ]:
grader.check("q2.4")