In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("Lab3_Part1.ipynb")

In [ ]:
import pandas as pd
import numpy as np

**Due data:  10 March by 11:59 pm**

Rubric: 
| Question | Points | 
| ---- | --- |
| 1(a) | 5 |
| 1(b) | 5 |
| 1(c) | 10 |
| 1(d) | 10 |
| 1(e) | 10 |
| 1(f) | 10 |
| Total | 50 |

## Instructions: 

1. Upload this jupyter lab (.ipynb) file of your solutions for the first part and upload them together with the images of the second partâ€™s written solutions to D2L as single zipped folder.
2.  This lab assignment is due on the date and time specified above. Consult the syllabus for late penalty.
3. This assignment is restricted to individual effort. As per our syllabus, the use of AI is prohibited. You may not receive help from any other person except the instructor, the TA, or the AARC (help from the TA and AARC must be well documented!).
4. Any resource used (other than the instructor or the course text) must be documented in a separate README.txt file detailing the source and describing exactly what was learned and how that information was used in your assignment. Submissions will be severely penalized if copied in part or whole from any source.
5. If you need help, visit your instructor during his posted office hours. If your schedule cannot accommodate any of these times, then email your instructor to schedule a different time..
6. Passing the autograder test does not guarantee that your answer is correct. Be sure to answer questions carefully, as the instructor has additional hidden tests. Full points will only be awarded if your answers pass these tests during grading.
7. If you encounter any difficulties, don't hesitate to contact me for assistance.

**Objectives:** To practice and learn about the following topics:

1. Tables

# 1. Tables

### Question 1

A table named `instructor` contains one row for each SFA faculty member and these columns:
- **Dept**: a string, the department of the faculty member
- **Name**: a string, the first name fo the faculty member
- **Designation**: a string, one of: Lecturer, Assitant Professor, Associate Professor, or Professor
- **Salary**: an int, last year's salary paid by the university

Write a python code to answer the following questions:

In [ ]:
instructor = pd.read_csv('data/instructor.csv')
instructor.head(3)

### Question 1(a) [5 points]
The total salary amount paid to all faculty by the university last year.

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q1(a)")

### Question 1(b) [5 points]

The name of the second highest paid faculty member. (Assume no two faculty have the same salary)

In [ ]:
sorted_instructor = instructor...(..., ascending = ...) 
second_row = ...
your_ans = ...
your_ans

In [ ]:
grader.check("q1(b)")

### Question 1(c) [10 points]

The name of the department that has the most lecturers. (Assume one department has more than the rest)

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q1(c)")

### Question 1(d) [10 points]

The average faculty salary after all instructors get a 10% raise in the present year. Round your answer upto two decimal points.

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q1(d)")

### Question 1(e) [10 points]

Find the departments which have both Lecturers and Professors. Your answer should return a **numpy array** of departments.

Hint: 
Use `np.unique` to find the unique elements in a numpy array or pandas series. <br>
For eg, see the cell below:

In [ ]:
# Example to understand how np.unique() works
fruits = pd.Series(['Apple', 'Apple', 'Banana', 'Banana', 'Banana'])
np.unique(fruits)

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q1(e)")

### Question 1(f) [10 points]

Find the absolute difference between a department's average **Lecturer** salary and its average **Professor** salary. Round the absolute differences upto two decimal points. Your answer should be a **pandas series** where labels are the department names and values are the absolute difference between the average Lecturers and Professors for that department. 

If a department don't have both, then simply drop those departments. 

Hint:
1. Use pivot table
2. For absolute difference, look into the numpy method `absolute` online here: [np.absolute documentation](https://numpy.org/doc/stable/reference/generated/numpy.absolute.html)
3. To drop any row with missing value, simply call `dropna()` method. For eg, see the cell below

In [ ]:
sample_df = pd.DataFrame({'Name': ['Kevin', 'Tyler', 'Victoria', 'Angela'],
                          'Age' : [20,np.nan,np.nan, 40]
                         })
sample_df

As you can notice, that the Tyler and Victoria has missing ages in it's row. To simply drop those two rows, we can do the following:

In [ ]:
# Example to understand how to drop rows with missing values
sample_df = sample_df.dropna()
sample_df

In [ ]:
your_ans = ...
your_ans

In [ ]:
grader.check("q1(f)")